{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div class="404-error" style="text-align: center">

    <article>
        <p>
            Sorry, we could not fine your search
        </p>
    </article>
</div>
  <!-- product display -->

  <div  class="product-display">
        <h1>Products</h1>
      <div id="products"class="product-container pd-display">
          <div class="class-loader">
              <img src="{% static 'images/30.gif' %}" alt="ecommerce, Africa, Cameroon,">
          </div>
             
      </div>
      <div id="loadmoreproducts"class="load-more">
          Load more
          <span class="loader-gif">
            <img src="{% static 'images/5.gif' %}" alt="ecommerce, Africa, Cameroon,">
          </span>
          </div>
      </div>



      <!-- display hot deals products-->
      <div class="hot-deals-header">
      <h2>Hot Deals</h2>
    </div>
      <div class="deal_container">
        
          <div class="deal_container_sub">
              <div class="deal_img_">
              <img src="{% static 'images/deals.jpg' %}" alt="deals, black friday, ecommerce">
              </div>
              <div class="hot_deals">
<!---
slider
-->

<div class="home-slider">
  <div class="home-slider-container">
    
  </div>

    <button class="previous">&laquo;</button>
    <button class="next">&raquo;</button>
  </div>
</div>
              </div>
          </div>

      </div>
      


      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<br><br><br><br>
<div class="hot-deals-header"></div>
      <!-- server connection lost-->

      <div class="connection-lost">
        Cannot connect to the server....
      </div>


</div>
<script  src="{% static 'script/apis.js' %}"></script>
<script  src="{% static 'script/slider.js' %}"></script>
<script>
//load products
loadProducts()
</script>

{% endblock %}