{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="about-page-container">
<div class="about-page">
    
    <div class="pic-img">
        <img src="{% static 'images/about.jpeg' %}" alt="Moenikes Ngabe Makoge">
        <p>
            Moenikes Ngabe (Founder)
    </p>
    </div>
    <div class="info-container">
        <h1>About monikizo/kizo Shop</h1>

        <p>
            Monikizo making a difference . Monikizo 
            delivers  products of high quality and durability.
            With trading experience of more than 5 years.
            Our brands,  Apple,  Samsung etc. Kizo stands for quality. You 
            will never get disappionted with our products. For we give you the best 
            quality of products and services you would not fine out there.
           
        </p>
        <h2>
            Delivery
        </h2>
        <p>
            Monikizo is located in Buea SouthWest region.
            Within the district of Buea, delivery of products is free. City
            to city,  travel  agencies are use for safe and fast delivery.
        </p>
 
        <div class="contact-infor">
                <h2>
                        Contact
                    </h2>
                    <p> You can contact monikizo through the following below.</p>
        </div>
    </div>
</div>

</div>

{% endblock %}