{% extends 'home/base.html' %}
{% load static %}

{% block content %} 
<div class="policy-container">
<h1>
        Free Delivery of products.
</h1>
<p>
        All our products are shipped free of charge throughout (Buea). If ground delivery is not available for your shipping address, our customer service will notify you.
</p>
<h1>
        Satisfaction Warranty
</h1>
<p>
        Customer satisfaction is very important to us, and we want you to order with complete confidence. That is why we offer a 30-day satisfaction warranty. Please contact us within 30 days of delivery if you notice any defect or damage with the fabric, paint, or mechanism. We will guide you through the return process, free of charge. Depending on the cause of your dissatisfaction, we will either send you a replacement product free of charge or guide you through the return process in order to remedy the problem as soon as possible.
</p>
<h1>
        COLOUR DISCLAIMER
</h1>
<p>
        Requests for returns due to a problem with the colour will only be processed if there is a noticeable difference between the colour of the sample the purchaser previously ordered and the purchased product. No exchange or refund requests will be accepted if the purchaser did not order a sample prior to the purchase.

        Returns will not be accepted without prior authorization and must be sent in their original condition to the address provided to you and within 30 calendar days of receipt. Please keep the original packaging so that you can adequately pack the blinds should you need to return them. You are not sure how to pack your product? Contact us and we will be happy to guide you. This warranty may not apply if the blinds are not returned in their original condition.
        
        * All our custom products are made to order. Carefully follow all measuring and installation instructions, and make sure to read the “Colour Disclaimer.” This warranty applies to all our products. The following warranty is offered to the original purchaser of window dressings properly installed in the original window. A proof of purchase is required. This is in addition to any warranty provided by manufacturers of products sold under brand names.
</p>

</div>

{% endblock %}