    .home-slider{
    
        background-color: white;
        width:400px;
        height: 300px;
        margin:0 auto;
        margin-top:30px;
        display:flex;
        flex-direction: column;
        overflow: hidden;
    
    }

    .home-slider-container{
        width:400px;
        
        height:300px;
        display: flex;
        transform: translate(0px);
        transition: transform 1s ease;

    }
    .inner-slider{
        
        height:300px;
        width:400px;
        
    }
    .inner-slider img{
        width:400px;
        height: 300px;
    }
    .shortcust{
        border:solid;
        width:30px;
        height: 30px;
        background-color: blue;
        float: left;
    }
    .active-one{
        border:solid;
    }

    
    .previous{
    position:absolute;
    margin-left: -25px;
    }
    .next{
        position:absolute;
        margin-left:40%;
        
    }
    .previous,.next{
        padding:5px 5px 5px;
        font-size: 20px;
        height:300px;
        margin-top:0px;
        background-color: white;
        color:navy;
        border:none;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
    button:focus{
        outline: none;
    }
    .home-slider-container a {
    text-decoration: none;
    }
    .dealView{
        color:white;
        font-size:20px;
        text-align: center;
        position: relative;
        margin-top:-160px;
        left:24%;
        top:0px;
        font-size:20px;
        border-bottom:solid;
        width:30%;
        padding:10px 10px 10px;
        margin-left:10%;
        background-color:rgba(0,0,127,0.2);
        border-radius:100%;
        -webkit-border-radius:100%;
        -moz-border-radius:100%;
        -o-border-radius:100%;
    }
    @media only screen and (min-width:150px) and (max-width:400px){
        
        .dealView{
            color:white;
            font-size:14px;
            text-align: center;
            position: relative;
            margin-top:-50px;
            left:20%;
        }
        .home-slider{
            width:100px;
            height: 100px;
        
        
        }
        .home-slider-container{
            width:auto;
            height:auto;
        
        }
        .inner-slider{
            
            height:100px;
            width:auto;
            
        }
        .inner-slider img{
            width:100px;
            height: 100px;
        }


        
        
        .previous{
        margin-left: -25px;
        }
        .next{
            margin-left:104px;
            
        }
        .previous,.next{
            padding:5px 5px 5px;
            font-size: 18px;
            height:100px;
        
        }
    }



    @media only screen and (min-width:400px) and (max-width:600px){
        
        .dealView{
            color:white;
            font-size:14px;
            text-align: center;
            position: relative;
            margin-top:-50px;
            left:20%;
        }
        .home-slider{
            width:140px;
            height: 140px;
            margin-top:5px;
        
        
        }
        .home-slider-container{
            width:auto;
            height:auto;
        
        }
        .inner-slider{
            
            height:140px;
            width:auto;
            
        }
        .inner-slider img{
            width:140px;
            height: 140px;
        }

        .previous{
        margin-left: -25px;
        }
        .next{
            margin-left:145px;
            
        }
        .previous,.next{
            padding:5px 5px 5px;
            font-size: 18px;
            height:140px;
        
        }
    }


    @media only screen and (min-width:600px) and (max-width:900px){
        
        .dealView{
            color:white;
            font-size:14px;
            text-align: center;
            position: relative;
            margin-top:-50px;
            left:20%;
        }
        .home-slider{
            width:180px;
            height: 180px;
            margin-top:10px;
            
        
        
        }
        .home-slider-container{
            width:auto;
            height:auto;
        
        }
        .inner-slider{
            
            width:180px;
            width:auto;
            
        }
        .inner-slider img{
            width:180px;
            height: 180px;
        }

        .previous{
        margin-left: -25px;
        }
        .next{
            margin-left:185px;
            
        }
        .previous,.next{
            top:10px;
            padding:5px 5px 5px;
            font-size: 18px;
            height:180px;
        
        }
    }

    @media only screen and (min-width:900px) and (max-width:1200px){
        .dealView{
            color:white;
            font-size:14px;
            text-align: center;
            position: relative;
            margin-top:-50px;
            left:24%;
        }
        .previous{
        margin-left: -18px;
        }
        .next{
            margin-left:395px;
            
        }
        .previous,.next{
            box-shadow: 1px 1px 1px black;
            top:0px;
            padding:2px 5px 2px;
            font-size: 18px;
            height:30px;
        
        }
    }